.cdx-block--alignment {
    text-align: initial;
  }
  
  .cdx-block--alignment-left {
    text-align: left;
  }
  
  .cdx-block--alignment-center {
    text-align: center;
  }
  
  .cdx-block--alignment-right {
    text-align: right;
  }
  
  .cdx-block--alignment-justify {
    text-align: justify;
  }
  h1{
    font-size: 30px;
  }
  /* General styles for Editor.js blocks */
.ce-block {
  margin-bottom: 20px;
  padding: 20px;
  border: 1px solid #ddd;
  border-radius: 5px;
}

/* Header Tool */
.ce-header {
  margin-bottom: 20px;
}
.ce-header h1 {
  font-size: 2em;
  margin-bottom: 10px;
}
.ce-header h2 {
  font-size: 1.75em;
  margin-bottom: 10px;
}
.ce-header h3 {
  font-size: 1.5em;
  margin-bottom: 10px;
}

/* List Tool */
.ce-list {
  margin-bottom: 20px;
}
.ce-list ol,
.ce-list ul {
  padding-left: 40px;
}
.ce-list li {
  margin-bottom: 10px;
}

/* Quote Tool */
.ce-quote {
  border-left: 4px solid #ccc;
  padding-left: 16px;
  margin-bottom: 20px;
  font-style: italic;
}

/* Image Tool */
.ce-image {
  text-align: center;
  margin-bottom: 20px;
}
.ce-image img {
  max-width: 100%;
  height: auto;
  border-radius: 5px;
}

/* Table Tool */
.ce-table {
  width: 100%;
  border-collapse: collapse;
  margin: 20px 0;
  font-size: 18px;
  text-align: left;
}
.ce-table th,
.ce-table td {
  padding: 10px;
  border: 1px solid #ddd;
}
.ce-table tr:nth-child(even) {
  background-color: #f9f9f9;
}
.editorjs-wrapper {
  border: none; /* Remove border */
}
/* Embed Tool */
.ce-embed {
  text-align: center;
  margin-bottom: 20px;
}
.ce-embed iframe {
  max-width: 100%;
  border: none;
}

/* Delimiter Tool */
.ce-delimiter {
  text-align: center;
  margin: 40px 0;
  font-size: 2em;
}